img {
    width: 200px;
    display: block;
    filter: grayscale(1);
    animation: myAnimation 2s ease 1s 3 alternate forwards;
}

@keyframes myAnimation {
    55% {
        transform: rotate(360deg);
    }   
    100% {
        transform: scale(2, 0.5);
    }
}
nav{
    background-color: lightgreen;
    border:2px;
    border: solid;
}
.container{
    display: flex;
    justify-content: flex-start;
    flex-direction:row;
}
.ul{
    display: flex;
    justify-content:center;
    flex-direction:row;
}
a{
    justify-content: center;
    border-color:black ;
    border: 2px;
}
ul{
    list-style: none;
}
a:hover{
    color: aqua;
    background-color: blue;
    border-radius: 3px;
    padding: 5px;
}
a{
    text-decoration: none;
    color: blue;
}   