td[name="Prog"] {
    background-color: greenyellow;
}
td[name="BBDD"] {
    background-color: aqua;
}
td[name="SisInf"] {
    background-color: red;
}
td[name="LMSGI"] {
    background-color: grey;
}
td[name="EEDD"] {
    background-color:blue;
}
td[name="FOL"] {
    background-color: #303c53;
}
td[name="Separador"] {
    background-color:#eaa8ee;
}
th[name="Separador"] {
    background-color:#eaa8ee;
}
nav{
    background-color: lightgreen;
    border:2px;
    border: solid;
}
.container{
    display: flex;
    justify-content: flex-start;
    flex-direction:row;
}
.ul{
    display: flex;
    justify-content:center;
    flex-direction:row;
}
a{
    justify-content: center;
    border-color:black ;
    border: 2px;
}
ul{
    list-style: none;
}
a:hover{
    color: aqua;
    background-color: blue;
    border-radius: 3px;
    padding: 5px;
}
a{
    text-decoration: none;
    color: blue;
}