#Ej1 {
    background-color: grey;
}

#Ej2 {
    border-width: thin;
    border: solid;
    max-width: 200px;
}

#Ej3 {
    border-width: thick;
    border: solid;
    max-width: 200px;
}