#parrafo1 {
    color: blue;
    border-style: solid;
    border-width: 4px;
    border-color: blue;
    padding:8px ;
}
#parrafo2 {
    color: blue;
    border-style: solid;
    border-width: 4px;
    border-color: green;
    padding:8px ;
}
#parrafo3 {
    color: blue;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: blue;
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: grey;
    border-right-style: solid;
    border-right-width: 4px;
    border-right-color: green;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: red;
    padding:8px ;
}
#parrafo4 {
    color: blue;
    border-width: 4px;
    border-style: dotted;
    border-color: yellow;
    padding: 8px;
}