#grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vw;
}
#grid > div {
    font-size: 5vw;
    padding: .3em;
    background-color: blue;
    text-align: center;
}
nav{
    background-color: lightgreen;
    border:2px;
    border: solid;
}
.container{
    display: flex;
    justify-content: flex-start;
    flex-direction:row;
}
.ul{
    display: flex;
    justify-content:center;
    flex-direction:row;
}
a{
    justify-content: center;
    border-color:black ;
    border: 2px;
}
ul{
    list-style: none;
}
a:hover{
    color: aqua;
    background-color: blue;
    border-radius: 3px;
    padding: 5px;
}
a{
    text-decoration: none;
    color: blue;
}